/*todas as variáveis ficam dentro da pasta settings
variáveis globais e configurações*/
:root {
  --color-base: #333333;
  --color-base-light: rgba(51, 51, 51, 0.4);
  --color-primary: #f5e29b;
  --color-second: #fff;
}
