body {
  background-color: #f5e29b;
}

header {
  max-width: 100%;
  max-height: 70px;
}

a {
  font-family: Comfortaa;
  color: #ffffff;
}
.container_header {
  display: inline-block;
  width: 100%;
  height: 61px;
}

.container_header #logo {
  width: 34px;
  height: 11px;
  margin-top: 17px;
  margin-left: 31px;
  color: #ffffff;
}
.container_menu {
  width: 185px;
  float: right;
  margin-right: 31px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  line-height: 8px;
}

.nav .login {
  display: inline-block;
  margin-bottom: 445px;
  color: #f5e29b;
  text-align: center;
  background-color: #ffffff;
  padding: 3px 11px 3px 11px;
}

.login#background {
  vertical-align: middle;
  border-radius: 4px;
}
